/* Reset some default styles to ensure consistency across browsers */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-tabs a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-content {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.menu-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.mensagem-sucesso {
    color: green;
    margin-top: 10px;
}
