/* static/style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu-tabs {
    display: flex;
    gap: 20px;
}

.menu-tab {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-tab:hover {
    background-color: #555;
}

.logo {
    width: 50px;
    height: auto;
}

.menu-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Restante do seu CSS ... */

/* Estilo para a div de mensagem */
.mensagem-sucesso {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Cor verde para mensagens de sucesso */
    color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    display: none;
}

/* Adiciona animação de fade in para a mensagem */
.mensagem-sucesso.fade-in {
    animation: fadeIn 1s ease-in-out;
}

/* Adiciona animação de fade out para a mensagem */
.mensagem-sucesso.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}

/* Animação de fade in para a mensagem */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação de fade out para a mensagem */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
